@model IEnumerable<WebsiteCms.Models.DocumentModel>

@if (Model == null || !Model.Any())
{
    <p>No documents available to display.</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th style="width:5%">N°</th>
                <th style="width:30%">Document Title</th>
                <th style="width:20%">Document Control Number</th>
                <th style="width:15%">Related Document</th>   <!-- NEW -->
                <th style="width:10%">Issue</th>
                <th style="width:20%">Issue Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var document in Model)
            {
                <tr>
                    <td>@document.Number</td>
                    <td>@document.Title</td>
                    <td>@document.ControlNumber</td>
                    <td>@(string.IsNullOrEmpty(document.RelatedDocument) ? "-" : document.RelatedDocument)</td>
                    <td>@document.Issue</td>
                    <td>@document.IssueDate.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
